.chart-column {
  /* width: 100%; */
  height: 100%;
  background-color: white;
  border-radius: 10px;
  margin: 10px 20px;
  box-shadow: 0 2px 10px 0 rgb(58 59 69 / 15%);
}
.chart-title {
  /* width: 100%; */
  box-shadow: 0 2px 10px 0 rgb(58 59 69 / 15%);
  background-color: #f8f9fc;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #4e73df;
}
.a {
  color: #4e73df;
}
.b {
  color: #00c49f;
}
.c {
  color: #ffbb28;
}
.d {
  color: #ff8042;
}
.pie {
  /* margin-bottom: 100px; */
}
.pie-data {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  /* margin-bottom: 0px; */
}
.whole-chart {
  width: 100%;
}
